body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}

header{
	background-color: #C4F8B3;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 2px;
}

h1, h2{
	font-family: 'Yellowtail', cursive;
}

header h1{
	color: white;
	font-size: 100px;
}
header img{
	border-radius: 170px; 
	width:300px;
	border: 10px solid #ebb1d4
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #aaf4f7;
	margin:40px 0 10px;
}

a{
	color:#ebb1d4;
}
a:hover{
	color:#C4F8B3;
}

footer{
	background-color: #C4F8B3;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}
footer a{
	color:white;
}
footer a:hover{
	opacity:.5;
	background-color: transparent;
}

p.caption{
	color:#f6f9aa;
	font-style: italic;
	margin-top: 0;
}